{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Extension Search</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart Search</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

    <link rel="stylesheet" href="{% static 'searchapp/css/app.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
{% block content %} {% endblock %}
    <script defer src="{% static 'searchapp/js/particles.min.js' %}"></script>
    <script defer src="{% static 'searchapp/js/app.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $("#search-input").on("keyup", function(e) {
                e.stopPropagation();
                $(".output").html("");
                $(".output")
                    .stop()
                    .show()
                    .addClass("active");
                var searchField = $(this).val();
                var regEx = new RegExp(searchField, "i");

                $.getJSON("http://suggestqueries.google.com/complete/search?q=" + $("#search-input").val() + "&client=firefox&callback=?", function(data) {
                    $.each(data[1], function(key, value) {
                        $(".output").append("<a onClick='setInput(\"" + value + "\")' class='list'>" + value + "</a>");
                    });
                });
            });

            $(document).on("click", function(e) {
                e.stopPropagation();
                $(".output")
                    .stop()
                    .html("")
                    .hide()
                    .removeClass("active");
            });

            $("#search-input").on("click", function(e) {
                e.stopPropagation();
            });
            $(".output").on("click", function(e) {
                e.stopPropagation();
            });


        });

        function setInput(suggest) {
            $("#search-input").val(suggest);
            $(".output")
                .stop()
                .html("")
                .hide()
                .removeClass("active");
        }
    </script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->

<script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
    
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
</html>
