{% extends 'searchapp/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        xmlns:border-style="http://www.w3.org/1999/xhtml" xmlns:border-style="http://www.w3.org/1999/xhtml"
        xmlns:border-style="http://www.w3.org/1999/xhtml"></script>

<div class="container">
</div>

<section class="hero is-white is-fullheight">
    <div id="particles-js"></div>


    <!-- <div class="text">
         <h1>Particles Background</h1>
         <p>Using
             <a href="https://github.com/VincentGarreau/particles.js/">ParticlesJS</a> and well.. that's about it, actually ¯\_(ツ)_/¯</p>
     </div>-->

    <div class="hero-body">
        <div class="container has-text-centered">
            {% if user.is_authenticated %}
            <div class="username">
                <div class="borderLogin">
                <h5>{{ user.username }}</h5>
                <h5>Age: {{ user.profile.age }}</h5>
                </div>
                <div class="borderLogin1" style="padding-top: 10px;">
                    <a href="login" style="text-color: black;">Login</a>
                </div>
                <div class="borderLogin1" style="padding-top: 10px;">
                    <a href="result" style="text-color: black;">Result</a>
                </div>
            </div>
            {% endif %}

            <h1 class="is-size-3 text-logo">
                <strong>Extension</strong>search</h1>
            <br>
            <br>
            <div class="columns">
                <div class="column is-6-desktop is-offset-3-desktop">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <div class="control1 control has-text-centered">
                            <a href="#" onclick="toggle()"><input class="button1 borderLogin" type="submit" value="TEST" style="padding: 10px;"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer1 fixed-bottom">
                <div class="content has-text-centered">
                    <p class="has-text-grey">
                        The search engine that built with <i class="fa fa-heart"></i> for education</p>
                </div>
                <div class="content has-text-centered">
                    <div id="menu">
                        <ul>
                            <li><a href="home">Our Team</a></li>
                            <li><a href="https://www.facebook.com/">Facebook</a></li>
                            <li><a href="https://www.instagram.com/">Instagram</a></li>
                            <li>
                                <a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Gmail</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</section>

<!--<script>
    $(document).ready(function() {
            setTimeout(function() {
               $('.alert').remove();
            }, 10000);
});
</script>-->
{% endblock %}